
body {
    background-color:rgb(228, 228, 228);
    text-align: center;
}

.container {
    max-width: 450px !important;
    margin: 0 auto !important;
}


.result {
    box-shadow: 2px 2px 30px 9px #897676;
    padding-bottom: 10px;
}


#ticket-container {
    max-width: 780px !important;
}



#ticket-container .name {
    margin-right: 50px;
    background: grey;
    padding: 0 5px 10px;
    
}


#ticket-container #name-print {
    color: white;
}

#ticket-container .rate {
    margin-right: 50px;
}


#ticket-container .carr {
    margin-right: 50px;
}


#ticket-container .cp {
    margin-right: 50px;
}


#ticket-container .pric {
    margin-right: 50px;
}
